{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
    {{title}}
{% endblock %}
{% block head %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}

{% block body %}
<body>
    {% include 'include.html' %}
    Hello Django!
    <p>{{ user_id }}</p>
    <p>{{ date_joined|date:"Y-m-d" }}</p>
    <p>{{ category_list|first }}</p>
    {% for i in category_list %}
    <p style="color: red;">{{i|add:19}}</p>
    {% endfor %}
    <p>{{ msg|upper }}</p>
    <p>{{ msg|cut:"World" }}</p>
    <p>{{ note|default:"No Note" }}</p>
    <p>{{ price|floatformat:"-3g" }}</p>
    <p></p>
    <p>{{ java }} {{ java|word_changer }}</p>
    <p>{{ python }} {{ python|word_changer }}</p>

  <div class="container mt-5" id="app">
    <div class="alert alert-primary" role="alert">
        [[ message ]]
    </div>
    <button class="btn btn-primary" @click="changeMessage">Change message</button>

    <h1 class="mt-5">HTML Form</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h1 class="mt-5">HTML Form (Dj Form)</h1>
    {% if not success %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email address</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="text-danger">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
      <h2>회원가입 완료</h2>
    {% endif %}
  </div>

</body>
  <script>
    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        message: 'Hello Vue.js & Bootstrap!'
      },
      methods: {
        changeMessage: function() {
          this.message = '이 메세지는 변경되었습니다..'
        }
      }
    });
  </script>
{% endblock %}
